VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_ADMIN_ID=
VITE_ADMIN_PASSWORD=

# Cashfree Credentials (Server-side)
CASHFREE_APP_ID=
CASHFREE_SECRET_KEY=
CASHFREE_ENV=SANDBOX
VITE_CASHFREE_MODE=sandbox
